fastapi==0.135.3
uvicorn==0.42.0
python-multipart==0.0.22
python-dotenv==1.2.2

numpy==2.5.0
pandas==3.0.3
scipy==1.18.0
scikit-learn==1.9.0
xgboost==3.3.0
joblib==1.5.3

torch==2.12.1
torchvision==0.27.1

tensorflow==2.21.0
keras==3.15.0
tf_keras==2.21.0

opencv-python==4.13.0.92
mediapipe==0.10.35
deepface==0.0.100
retina-face==0.0.18
mtcnn==1.0.0

pillow==12.2.0

matplotlib==3.11.0

svgpathtools==1.7.2
svgwrite==1.4.3

requests==2.33.1
httpx==0.28.1